body {
    background: no-repeat center center fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("../../images/login/background.png");
    background-size: cover;
}

.login-container{
    position: absolute;
    width: 400px;
    height: 460px;
    left: calc(50% - 200px);
    top: calc(50% - 230px);

    box-sizing: border-box;
    background: rgba(254, 250, 224, 0.35);
    
    border-radius: 14px;
}

.login-container::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 14px; 
    padding: 2px;
    z-index: -1;
    background:linear-gradient(135deg, white, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0), white); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}