@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    background: no-repeat center center fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("../../images/login/background.png");
    background-size: cover;
}

label{
    margin: 0;
}

.login-container{
    position: absolute;
    width: 400px;
    height: 460px;
    left: calc(50% - 200px);
    top: calc(50% - 230px);

    box-sizing: border-box;
    background: rgba(254, 250, 224, 0.35);
    
    border-radius: 14px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.login-container::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 14px; 
    padding: 2px;
    z-index: -1;
    background:linear-gradient(135deg, white, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0), white); 
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
}

.login-form-container, .login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.website-name{
    margin-top: 44px;
    margin-bottom: 39px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: white;
}

.text-input, .text-input-password{
    background: transparent;
    border: 0px;
    padding: 0px;
    margin: 0;
    font-size: 14px;
}

.text-input{
    width: 100%;
}

.text-input-password{
    width: 90%;
}

.text-input::placeholder, .text-input-password::placeholder{
    color: white;
    font-family: 'Playfair Display', serif;
    opacity: 0.8;
}

.text-input:focus, .text-input-password:focus{
    outline: none;
    color: white;
    font-family: 'Playfair Display', serif;
}

.text-input:not(:focus), .text-input-password:not(:focus){
    outline: none;
    color: white;
    font-family: 'Playfair Display', serif;
}

.user-field, .password-field{
    border-bottom: solid 2px white;
    border-radius: 3px;
    width: 78%;
    padding: 4px 7px;
}

.user-field{
    margin-bottom: 30px;
}

.show-password {
    display: none;
}

.show-password-image{
    width: 14px;
    filter: invert(100%);
}

.show-password-image:hover{
    cursor: pointer;
}

.forgot-password-text{
    color: white;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 12px;
    align-self: flex-end;
    margin-right: 11%;
}

.login-button{
    margin-top: 36px;
    width: calc(78% + 4px);
    height: 43px;
    border-radius: 4px;
    border: none;
    background-color: #3C1518;
    color: white;
    font-family: 'Playfair Display', serif;
}

.login-button:hover{
    cursor: pointer;
    background-color: #4b2d1a;
    transition: background-color 0.2s;
}

.register-redirect{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    margin-top: 17px;
}

.register-redirect a{
    color: #3C1518;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}