.submit-button{
    width: calc(78% + 5px);
    height: 56px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.submit-button:hover{
    cursor: pointer;
    background-color: var(--tertiary-color);
    transition: background-color 0.2s;
}