.submit-edit-button{
    width: 155px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #3C1518;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
}

.submit-edit-button:hover{
    cursor: pointer;
    background-color: #4b2d1a;
    transition: background-color 0.2s;
}