.item-collection-container {
    margin: 20px 20px;
}

#highlighted-vinyls-ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style: none;
    margin: 0;
    padding: 0;
}

#highlighted-vinyls-ul li {
    margin: 0;
    padding: 0;
    border: 2px solid var(--secondary-color);
}